<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">

	<context:component-scan
		base-package="com.kim.biz" />
		
		<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
	<!--
	<bean id="ara" class="com.kim.biz.common.AfterReturningAdvice" />
	<bean id="ata" class="com.kim.biz.common.AfterThrowingAdvice" />
	<bean id="aa" class="com.kim.biz.common.AroundAdvice" />
			<aop:config>
  <aop:pointcut
			expression="execution(* com.kim.biz..*Impl.*(..))" id="aPointcut" />
		<aop:pointcut
			expression="execution(* com.kim.biz..*Impl.select*(..))"
			id="bPointcut" />

		<aop:aspect ref="aa">
			<aop:around method="printLogAround"
				pointcut-ref="aPointcut" />
		</aop:aspect>
		<aop:aspect ref="ara">
			<aop:after-returning
				method="printLogAfterReturning" pointcut-ref="bPointcut"
				returning="returnObj" />
		</aop:aspect>
		<aop:aspect ref="ata">
			<aop:after-throwing method="printLogAfterThrowing"
				pointcut-ref="bPointcut" throwing="exceptObj" />
		</aop:aspect>
	</aop:config>
 <aop:aspect ref="logSelectAdvice"> <aop:after-throwing method="printLogSelect" 
		pointcut-ref="bPointcut" /> </aop:aspect> <aop:aspect ref="aroundAdvice"> 
		<aop:around method="printLogAround" pointcut-ref="aPointcut" /> </aop:aspect> 
		</aop:config> -->
		<!-- DataSource 생성하기 -->
		<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
			<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
			<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe" />
			<property name="username" value="park" />
			<property name="password" value="1234" />
		</bean>
		<!-- Spring JDBC 설정하기-->
		<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
			<property name="dataSource" ref="dataSource"/>
		</bean>
</beans>
